<section class="todoapp">
  <app-header [title]="title" [newToDoPlaceholder]="newToDoPlaceholder" (addToDo)="addToDo($event)"></app-header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <app-todo-list [(todos)]="todos" [filterCondition]="filterCondition"></app-todo-list>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer" [hidden]="todos.length === 0">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{ uncompletedCount }}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <app-todo-filters [(filterCondition)]="filterCondition"></app-todo-filters>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clearCompletes()">Clear completed</button>
  </footer>
</section>
<app-footer></app-footer>
